<div class="search_container">
  <div class="wrapper">
    <div class="searchInputsWrapper">
        <input type="text" class="searchInput" [(ngModel)]="movieToSearch">
        <button class="btn" (click)="searchMovie(movieToSearch)">Search</button>
    </div>
    <div class="search_items">
      <div *ngFor="let searchedMovie of searchedMovies">
        <div class="search_item">
            <div class="image_div">
                <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{searchedMovie.poster_path}}" alt=""
                  class="poster">
                <!-- <i class="fa fa-star fa-2x" [ngClass]="{'favouriteFilmStarYellow': searchedMovie.isFavourite}"
                  (click)="deleteFavourite(searchedMovie.id)"></i> -->
              </div>
              <div class="searchedMov_info_row searchedMov_name">
                <span>{{ searchedMovie.title }}</span>
              </div>
              <div class="searchedMov_info_row date_and_rate">
                <div>
                  <span>{{ searchedMovie.release_date | date}}</span>
                </div>
                <div class="rate_div" *ngIf="searchedMovie.vote_average > 7">
                  <span class="rate_good">{{ searchedMovie.vote_average }}</span>
                </div>
                <div class="rate_div" *ngIf="searchedMovie.vote_average <= 7 && searchedMovie.vote_average > 5">
                  <span class="rate_normal">{{ searchedMovie.vote_average }}</span>
                </div>
                <div class="rate_div" *ngIf="searchedMovie.vote_average <= 5 && searchedMovie.vote_average > 0">
                  <span class="rate_bad">{{ searchedMovie.vote_average }}</span>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>
</div>
