<div class="search_container">
  <div class="wrapper">
    <form [formGroup]="newFilterForm" class="searchInputsWrapper">
      <select name="types" formControlName="type" class="selectBox">
        <option>movie</option>
        <option>tv</option>
        <option>people</option>
      </select>
      <input type="text" class="searchInput" formControlName="input">
      <button class="btn" type="submit" (click)="searchMovie()">Search</button>
    </form>


    <!-- !!!!!!!!!!!!! form for movis was found -->
    <div class="search_items" *ngIf="searchType == 'movie' && searchedMovies.length > 0">
      <div *ngFor="let searchedMovie of searchedMovies">
        <div class="search_item">
          <div class="image_div">
            <ng-container *ngIf="searchedMovie.poster_path !== null">
              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{searchedMovie.poster_path}}" alt=""
                class="poster">
            </ng-container>
            <ng-container *ngIf="searchedMovie.poster_path === null">
              <div class="emptyImg">{{searchedMovie.title}} haven't img</div>
            </ng-container>
            <i class="fa fa-star fa-2x" [ngClass]="{'favouriteFilmStarYellow': searchedMovie.isFavourite}"
              (click)="addToFavourite(searchedMovie.id)"></i>
          </div>
          <div class="searchedMov_info_row searchedMov_name">
            <span>{{ searchedMovie.title }}</span>
          </div>
          <div class="searchedMov_info_row date_and_rate">
            <div>
              <span>{{ searchedMovie.release_date | date}}</span>
            </div>
            <div class="rate_div" *ngIf="searchedMovie.vote_average > 7">
              <span class="rate_good">{{ searchedMovie.vote_average }}</span>
            </div>
            <div class="rate_div" *ngIf="searchedMovie.vote_average <= 7 && searchedMovie.vote_average > 5">
              <span class="rate_normal">{{ searchedMovie.vote_average }}</span>
            </div>
            <div class="rate_div" *ngIf="searchedMovie.vote_average <= 5 && searchedMovie.vote_average > 0">
              <span class="rate_bad">{{ searchedMovie.vote_average }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="search_items" *ngIf="searchType == 'movie' && searchedMovies.length == 0">
      <h2>Nothing found...</h2>
    </div>



    <!--!!!!!!!!!!!! form for tvshows was found -->
    <div class="search_items" *ngIf="searchType == 'tv'">
      <div *ngFor="let searchedTVShow of searchedTVShows">
        <div class="search_item">
          <div class="image_div">
            <ng-container *ngIf="searchedTVShow.poster_path !== null">
              <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{searchedTVShow.poster_path}}" alt=""
                class="poster">
            </ng-container>
            <ng-container *ngIf="searchedTVShow.poster_path === null">
              <div class="emptyImg">{{searchedTVShow.name}} haven't img</div>
            </ng-container>
            <!-- <i class="fa fa-star fa-2x" [ngClass]="{'favouriteFilmStarYellow': searchedTVShow.isFavourite}"
              (click)="addToFavourite(searchedMovie.id)"></i> -->
          </div>
          <div class="searchedMov_info_row searchedMov_name">
            <span>{{ searchedTVShow.name }}</span>
          </div>
          <div class="searchedMov_info_row date_and_rate">
            <div>
              <span>{{ searchedTVShow.first_air_date | date}}</span>
            </div>
            <div class="rate_div" *ngIf="searchedTVShow.vote_average > 7">
              <span class="rate_good">{{ searchedTVShow.vote_average }}</span>
            </div>
            <div class="rate_div" *ngIf="searchedTVShow.vote_average <= 7 && searchedTVShow.vote_average > 5">
              <span class="rate_normal">{{ searchedTVShow.vote_average }}</span>
            </div>
            <div class="rate_div" *ngIf="searchedTVShow.vote_average <= 5 && searchedTVShow.vote_average > 0">
              <span class="rate_bad">{{ searchedTVShow.vote_average }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="search_items" *ngIf="searchType == 'tv' && searchedTVShows.length == 0">
      <h2>Nothing found...</h2>
    </div>


    <!--!!!!!!!!!!!!!! form for people was found -->
    <div class="search_items" *ngIf="searchType == 'people'">
      <div *ngFor="let searchedPerson of searchedPeople">
        <div class="search_item">
          <div class="image_div">
            <ng-container *ngIf="searchedPerson.profile_path !== null">
              <img src="https://www.themoviedb.org/t/p/w300_and_h450_bestv2{{searchedPerson.profile_path}}" alt=""
                class="poster">
            </ng-container>
            <ng-container *ngIf="searchedPerson.profile_path === null">
              <div class="emptyImg">{{searchedPerson.name}} haven't img</div>
            </ng-container>
            <!-- <i class="fa fa-star fa-2x" [ngClass]="{'favouriteFilmStarYellow': searchedPerson.isFavourite}"
              (click)="addToFavourite(searchedMovie.id)"></i> -->
          </div>
          <div class="people_info_row people_name">
            <span>{{ searchedPerson.name }}</span>
          </div>
          <div class="people_info_row">
            <div *ngIf="searchedPerson.gender == 1">
              <span>Gender: </span><span>Female</span>
            </div>
            <div *ngIf="searchedPerson.gender == 2">
              <span>Gender: </span><span>Male</span>
            </div>
            <div class="popularity_div">
              <span>Popularity: </span><span>{{ searchedPerson.popularity }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="search_items" *ngIf="searchType == 'people' && searchedPeople.length == 0">
      <h2>Nothing found...</h2>
    </div>


  </div>
</div>
