<div class="about_container">
    <div class="wrapper">
        <h1>Some info about my project</h1>
        <h3>So here you can see 5 tabs into header(and about tab where you are now):</h3>
        <p>1. <b>Home tab</b> where you can see popular movies list and you can 
            switch page of this movies, also in the left there is filters which 
            you can choose, press 'confirm' button and movies list will change. 
            Also you can add some movie to your <b>favourite list</b>, which will be shown 
            at <b>Favourite tab</b>, by clicking on white star in right corner of movie cards. 
            Star become yellow and it means that movie is in favourite list. And you 
            can delete movie from there, just click again on yellow star.</p>
        <p>2. <b>TV shows tab</b> where you can see popular tv shows list and you can 
            switch page of this tv shows, also in the left there is filters which 
            you can choose, press 'confirm' button and tv shows list will change.</p>
        <p>3. <b>Search tab</b> where you can see input field and 'search' button, so when you input 
            some movie name and press button it will show you films that matches your request.</p>
        <p>4. <b>People tab</b> where you can see popular people and you can change pages of them.</p>
        <p>5. <b>Favourite tab</b> where you can see you favourite movies that you added at home page and you 
            can delete them from favourites by clicking on yellow star in right corner of movie card in favourite tab.
            <b>Also favourite movies id will be added to local storage, so if you reload the page - your favourite movies would be saved.</b></p>
    </div>
</div>
