<header class="header">
   <div class="header_wrapper">
      <nav>
         <a routerLink="/home" routerLinkActive="active">Home</a>
         <a routerLink="/tv-shows" routerLinkActive="active">TV Shows</a>
         <a routerLink="/search" routerLinkActive="active">Search</a>
         <a routerLink="/people" routerLinkActive="active">People</a>
         <a routerLink="/favourite" routerLinkActive="active">Favourite</a>
         <a routerLink="/about" routerLinkActive="active">About</a>
      </nav>
   </div>
</header>
